<h1>Welcome passenger: <%= @passenger.name %></h1>
<p>You have a flight booked, <%= @flight.departure_airport %> => <%= @flight.arrival_airport %> </p>
<p>Be seeing you @<%= @flight.start_date %></p>
